#view-1 {
  width: 100vw;
  height: 100vh;
}

header {
/*
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px dashed white;
*/
}

#featured h2 {
  padding-top: 1em;
}
