header {
  height: 36vh;
}

#cqf h3{
  font-size: 1em;
}

#cqf h2{
  font-size: 0.75em;
}

#featured {
  margin-right: 0.25em;
}

#featured h2 {
  padding-top: 0.25em;
}

#contact {
  margin-left: 0.25em;
}
