#view-4 {
  scroll-snap-align: start;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#view-4 div {
	justify-content: center;
}

#view-4 a {
	color: #605F54;
	border: none;
}

#view-4 h2 {
	margin-top: 1em;
	font-family: AlexangDisplay;
	letter-spacing: 0.2em;
	text-align: center;
	align-self: center;
}

.in-line-title {
	font-size: 1em;
	font-family: AlexangDisplay;
}

.bio {
	padding: 1em;
	display: inline-block;
	text-align: left;
}

.bio span {
	display: none;
	/*font-size: 0.25em;*/
}

#us {
	width: 85%;
	justify-content: space-around;
}

.team-photo {
	width: 75px;
	height: 75px;
	border-radius: 100px;
	align-self: center;
	float: left;
	margin: 5px;
}