#view-4 div {
	justify-content: center;
}

#view-4 a {
	color: #605F54;
	border: none;
}

#view-4 h2 {
	margin-top: 1em;
}

.in-line-title {
	font-size: 1em;
}

.bio span {
	display: none;
	/*font-size: 0.25em;*/
}

#us {
	width: 85%;
}

.team-photo {
	width: 75px;
	height: 75px;
	border-radius: 100px;
	margin: 5px;
}
