header {
  height: 36vh;
}

#header-container {
  display: flex;
  flex-direction: column;
}

#featured {
  margin-right: 0.25em;
}

#featured h2 {
  padding-top: 0.25em;
  font-size: 0.75em;
}

#featured h3 {
  font-size: 1em;
}

#contact {
  margin-left: 0.25em;
}

#contact h2 {
  font-size: 0.75em;
}

#contact h3 {
  font-size: 1em;
}
