#view-1 {
  width: 100vw;
}

#view-1 header {
  height: 35vh;
}

#view-1 h3 {
  font-size: small;
}

#view-1 h4 {
  font-size: small;
}
#cfq {
  height: 35vh;
  background: #F3F1D5;
}

#cfq img {
  width: 15vw;
}
