html {
  background-color: #F3F1D5;
  color: #605F54;
  font-family: serif;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.2em;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*height: 400%; for when it's time for goals*/
  height: 300%;
  scroll-snap-type: y mandatory;

}

 body::-webkit-scrollbar {
  display: none;

}

.side-borders {
  border-right: dashed;
  border-left: dashed;
}

h1  {
  align-self: center;
  font-family: AlexangDisplay;
  font-size: 2em;
  letter-spacing: 0.2em;
  width: 65vw;
  text-align: center;
}

h3 {
  font-size: 2em;
  /*height: 60%;*/
  font-style: italic;
  margin: 5vh;
  text-align: center;
}

h4 {
  text-align: center;
  font-family: AlexangDisplay;
}

a {
  padding: 10px;
  color: #F3F1D5;
  border: dashed;
}

a:hover {
  border: dashed;
  color: #5f9ea0;
}

.self-center {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.space-around {
  align-items: center;
  justify-content: space-around;
}

.border-bottom {
  border-bottom: dashed;
}

.solid-border {
  border: solid;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.third {
  width: 33vw;
  display: flex;
}

.full-page {
  width: 100vw;
}

.main {
  width: 45vw;
  height: 32vh;
}

