@import "./fonts.css";

html {
  background-color: #F3F1D5;
  color: #605F54;
  font-family: serif;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.2em;

}
.bio {
  padding: 1em;
  display: inline-block;
  text-align: left;
}
.team-photo {
  width: 175px;
  height: 200px;
  border-radius: 18px;
  align-self: center;
  float: left;
  margin: 1em;
}
.in-line-title {
  font-size: 2em;
  font-family: AlexangDisplay;
}
