@import "./reset.css";

@import "./fonts.css";

html {
	background-color: #F3F1D5;
	color: #605F54;
	font-family: "AlexangDisplay";
	font-weight: normal;
    font-style: normal;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}

body {

}

header {
	border-bottom: 1px solid;
}

header img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 65%;
}

#option-bar a{
	text-decoration: none;
	color: #605F54;
}

#subtitle {
	margin-left: auto;
  	margin-right: auto;
	align-items: center;
	justify-items: center;
	display: flex;
}

#subtitle div {
	font-size: 2vw;
}

#subtitle img {
	max-width: 30%;
}

#option-bar {
	display: flex;
	border-bottom: 1px solid;
}

#option-bar div {
	font-size: 3vw;
	margin-right: auto;
	margin-left: auto;
}

.overlay-container {
	display: grid;
}

.overlay {
  	opacity: 0;
  	grid-area: 1 / 1;
}

.blur {
	grid-area: 1 / 1;
}

.overlay-container:hover .overlay{
  opacity: 1;
}

.overlay-container:hover .blur{
  opacity: 0.2;
}

#contact {
	display: grid;
	grid-auto-flow: column;
	margin-left: auto;
	margin-right: auto;
	width: 75vw;
	padding: 1vw;
}

#landing {
	display: flex;
	margin: 1vw;
	align-items: top;
	justify-content: center;
}

#mission {
	padding: 1vw;
	font-size: 2vw;
	width: 75vw;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	row-gap: 1em;
	column-gap: 1em;
}

#mission img {
  padding-right: 1em;
}

#mission h2 {
  border-bottom: solid 1px;
}

#about {
	border: solid 1px;
	padding: 1vw;
	width: 75vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
}

#about div {
	font-size: 2vw;
	width: 50%;
}

#about a {
	width: 30%;
}

#about a img{
	width: 100%;
}

#team {
	width: 75vw;
	padding: 1vw;
	display: grid;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1vw;
	border-bottom: solid;
}

#team img {
	width: 20vw;
	border-radius: 1vw;
}

.bio {
	padding: 2px;
	border-top: solid;
	font-size: 1.5vw;
}

.bio span {
	display: inline-block;
}

.in-line-title {
	display: inline-block;
	font-weight: 900;
	font-size: 2vw;
}

.title {
	margin: 1vw;
	font-size: 3vw;
	text-align: center;
}