html {
	background-color: #F3F1D5;
	color: #605F54;
	font-family: serif;
	width: 100vw;
	height: 100vh;
	letter-spacing: 0.2em;

}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	/*height: 400%; for when it's time for goals*/
	height: 300%;
  scroll-snap-type: y mandatory;
}

 body::-webkit-scrollbar {
  display: none;

}
#view-2 {
  scroll-snap-align: start;
	border: dashed;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#view-3 {
  scroll-snap-align: start;
	border: dashed;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
#view-4 {
  scroll-snap-align: start;
	border: dashed;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}


#view-4 h2 {
	font-family: AlexangDisplay;
	letter-spacing: 0.2em;
	text-align: center;
	font-size: 2.5vw;
	align-self: center;
	font-weight: 900;
}


header div h2 {
	font-family: AlexangDisplay;
	letter-spacing: 0.2em;
	text-align: center;
	font-size: 2.5vw;
	align-self: center;
	font-weight: 900;
}

.side-borders {
	border-right: dashed;
	border-left: dashed;
}
header div div{
	height: 2em;
	width: 25vw;
	align-items: center;
	border: none;
}

header div div img{
	width: 25vw;
	height: 15vh;
	opacity: 55%;
}

h1	{
	align-self: center;
	font-family: AlexangDisplay;
	font-size: 2em;
	letter-spacing: 0.2em;
	width: 65vw;
	text-align: center;
}

h3 {
	font-size: 2em;
	/*height: 60%;*/
	font-style: italic;
	margin: 5vh;
	text-align: center;
}

h4 {
	font-size: 2em;
	text-align: center;
	font-family: AlexangDisplay;
}
a {
	padding: 10px;
	color: #F3F1D5;
	border: dashed;
}

a:hover {
	border: dashed;
	color: #5f9ea0;
}
#launch {
	height: 20vh;
}
#launch img {
	width: 100%;
}

.overlay {
	opacity: 0;
	position: absolute;
	height: 10vh;
}

.overlay-container {

}

.overlay-container:hover .overlay{
	opacity: 1;
}

.overlay-container:hover .blur{
	opacity: 0.2;
}

#option-bar {
	margin-top: 1em;
	padding-bottom: 1em;
}

#option-bar div h4:hover{
	color: #5f9ea0;
}

.gap {
	height: 2em;
}

.self-center {
	justify-self: center;
	align-self: center;
	text-align: center;
}

.space-around {
	align-items: center;
	justify-content: space-around;
}
.space-between {
	align-items: center;
	justify-content: space-between;
}

.border {
	border: solid;
}

.border-top {
	border-top: dashed;
}
.border-bottom {
	border-bottom: dashed;
}

.border-left {
	border-left: dashed;
}
.border-right {
	border-right: dashed;
}

.solid-border {
	border: solid;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.half {
	width: 50%;
}
.third {
	width: 33vw;
	display: flex;
}

.sub {
	height: 30vh;
}

.full-page {
	width: 100vw;
}

.main {
	width: 45vw;
	height: 32vh;
}

.xl-text {
	font-size: x-large;
}

.team-photo {
	width: 175px;
	height: 200px;
	border-radius: 18px;
	align-self: center;
	float: left;
	margin: 1em;
}

.bio {
	padding: 1em;
	display: inline-block;
	text-align: left;
}

.in-line-tittle {
	font-size: 2em;
	font-family: AlexangDisplay;
}

#view-3 img {
	height: 50vh;
	opacity: 0.5;
	position: absolute;
	right: 0;
}

#view-2-container {
justify-content: space-around;
}

#featured {
	height: 100%;
	justify-content: space-around;
}

#featured h2 {
	padding-top: 1em;
	border-bottom: solid;
}

#featured img {
	max-width: 200px;
}

#contact {
	height: 42vh;
	justify-content: space-around;
}

#contact h2 {
	border-bottom: solid;
}

#contact img {
	max-width: 200px;
}

#us {
	padding-left: 5em;
	padding-right: 5em;
	justify-content: space-around;
}
