#view-4 {
  scroll-snap-align: start;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#view-4 h2 {
	font-family: AlexangDisplay;
	letter-spacing: 0.2em;
	text-align: center;
	align-self: center;
}

.in-line-title {
	font-family: AlexangDisplay;
}

.bio {
	padding: 1em;
	display: inline-block;
	text-align: left;
}

#us {
	justify-content: space-around;
}

.team-photo {
	align-self: center;
	float: left;
}
