#view-1 {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
/*
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px dashed white;
*/
  background-color: #F3F1D5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  flex-direction: column;
}

.frills-1 {
  height: 10vh;
}

header img {
  height: 35vh;
  width: 65vw;
}
header div {
  display: flex;
  flex-direction: row;
  border-top: dashed;
  border-bottom: dashed;
  width: 95vw;
  align-self: center;
  height: 10vh;
}

header div h2 {
  font-family: AlexangDisplay;
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 2.5vw;
  align-self: center;
  font-weight: 900;
}

header div div{
  height: 2em;
  width: 25vw;
  align-items: center;
  border: none;
}

header div div img{
  width: 25vw;
  height: 15vh;
  opacity: 55%;
}

#option-bar {
  margin-top: 1em;
  padding-bottom: 1em;
}

#option-bar div h4:hover{
  color: #5f9ea0;
}

#featured {
  height: 100%;
  justify-content: space-around;
}

#featured h2 {
  padding-top: 1em;
  border-bottom: solid;
}

#featured img {
  max-width: 200px;
}

#contact {
  height: 42vh;
  justify-content: space-around;
}

#contact h2 {
  border-bottom: solid;
}

#contact img {
  max-width: 200px;
}

#option-bar {
  margin-top: 1em;
  padding-bottom: 1em;
}

#option-bar div h4:hover{
  color: #5f9ea0;
}

.overlay {
  opacity: 0;
  position: absolute;
  height: 10vh;
}

.overlay-container {

}

.overlay-container:hover .overlay{
  opacity: 1;
}

.overlay-container:hover .blur{
  opacity: 0.2;
}