#view-2 {
  scroll-snap-align: start;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#view-2-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#view-2-container a {
  color: #605F54;
  border: none;
}

#view-2-container a:hover {
  color: #5f9ea0;
}